.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 5%;
  gap: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(70px);
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.description {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(30px);
  letter-spacing: rem(-2px);
  font-family: 'Figtree';

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(15px);
  }
}

.volunteerImg {
  width: 40%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10%;
}
