.container {
  display: flex;
  flex-direction: column;
  padding: rem(48px);
  width: rem(644px);
  border: rem(1px) solid var(--mantine-color-patina-dark-3);
  border-radius: rem(5px);
  background: var(--mantine-color-patina-dark-6);
}
