.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  .background{
    background-color: #0a204a;
  }

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./asset/blue_back.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-top: 20px;
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.personalImage{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}