.loginSection {
  margin: rem(64px);
  padding: rem(32px);
}

.loginButton {
  background-color: var(--mantine-color-patina-green-light);
  color: var(--mantine-color-black);
}

.loginButton:hover {
  background-color: var(--mantine-color-patina-green-dark);
  color: var(--mantine-color-white);
}
