.title {
  font-family: "Noto Serif Display", serif;
  font-size: rem(200px);
  font-style: normal;
  letter-spacing: 20px;
  justify-content: center;
  text-align: center;
}

.title_container{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

