.scrollArea {
  padding-left: 5rem;
  overflow-wrap: break-word;

  @media (max-width: $mantine-breakpoint-sm) {
    padding-left: 0;
  }
}

.sectionContainer {
  margin-bottom: 3rem;

  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: 0;
  }
}

.sectionTitle {
  margin-bottom: 0.5rem;

  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: 0;
    font-size: rem(30px);
  }
}

.subsectionContainer {
  margin-bottom: 3rem;
  margin-left: 3rem;

  @media (max-width: $mantine-breakpoint-sm) {
    margin: 0;
    padding: 0;
  }
}

.resumeHeading {
  display: block;
  width: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    margin: 0;
    padding: 0;
  }
}

.resumeTitle {
  float: left;
  width: 70%;
  margin-bottom: 0.5rem;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(18px);
    width: 100%;
    margin-bottom: 0;
  }
}

.resumeDate {
  float: right;
  width: 30%;
  margin-bottom: 1rem;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(15px);
    width: 100%;
    margin-bottom: 0;
  }
}

.resumeSubtitle {
  clear: both;
  margin-bottom: 0.5rem;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(15px);
    width: 100%;
  }
}

.bulletText {
  margin-bottom: 0.5rem;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(15px);
  }
}

.resumeSkillsTitle {
  width: 100%;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(18px);
    width: 100%;
    margin-bottom: 0;
  }
}

.resumeSkills {
  display: inline;
  row-gap: 5px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(15px);
  }
}
