.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--mantine-color-dark-6);
}

.footerContents {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--mantine-color-dark-6);
  align-items: center;
}

.logoTextContainer {
  display: flex;
  align-items: center;
  padding: rem(8px) rem(12px);
}

.logo {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.footerLinks {
  display: flex;
  flex-direction: row;
}

.linkIcon {
  margin: 8px;
}
