.footer {
  display: flex;
  min-height: 56px;
  height: auto;
  width: 100%;
  justify-content: center;
  background-color: var(--mantine-color-dark-6);
}

.footerContents {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--mantine-color-dark-6);
  align-items: center;

  @mixin smaller-than $mantine-breakpoint-md {
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-xl);
  }
}

.logoTextContainer {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: var(--mantine-color-dark-5);
  }
}

.logo {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
