.form {
  padding: rem(32px) rem(96px);
  margin-top: rem(96px);
  background-color: var(--mantine-color-dark-6);
}

.gridLayout {
  column-gap: rem(32px);
  justify-content: space-between;
  align-items: stretch;
}

.title {
  font-size: rem(22px);
  color: white;
}

.nameemail {
  justify-content: space-between;
  align-items: stretch;
}

.button {
  background-color: white;
  border-color: white;
  color: black;
  width: rem(64px);
  border-radius: rem(2px);
  align-self: end;
}
