.form {
  padding-inline: 64px;
  padding-block: 64px;
  margin-top: 96px;
  margin-bottom: 32px;
  background-color: var(--mantine-color-dark-6);

  @mixin smaller-than $mantine-breakpoint-md {
    margin-top: 64px;
    padding: 36px;
  }
}

.gridLayout {
  column-gap: 32px;
  justify-content: space-between;
  align-items: stretch;
}

.title {
  font-size: 22px;
  color: white;
}

.nameemail {
  justify-content: space-between;
  align-items: stretch;

  @mixin smaller-than $mantine-breakpoint-md {
    flex-direction: column;
    gap: 12px;
  }
}

.button {
  background-color: white;
  width: 84px;
  border-radius: 2px;
  align-self: end;
}
