.form {
  padding: 64px 96px;
  margin-top: 96px;
  background-color: var(--mantine-color-dark-6);
}

.gridLayout {
  column-gap: 32px;
  justify-content: space-between;
  align-items: stretch;
}

.title {
  font-size: 22px;
  color: white;
}

.nameemail {
  justify-content: space-between;
  align-items: stretch;
}

.button {
  background-color: white;
  border-color: white;
  color: black;
  width: 84px;
  border-radius: 2px;
  align-self: end;
}
