.hero_container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;

  @media (max-width: 996px) {
    margin: 16px;
    flex-direction: column;
  }
}

.title {
  font-size: 64px;
  color: white;
  padding-bottom: 40px;
}

.description {
  text-align: left;
  padding-top: 10px;
  font-size: 24px;
  color: white;
  padding-bottom: 50px;
}

.scholarshipHero {
  height: 520px;
  width: 600px;
  padding-left: 100px;

  @media (max-width: 996px) {
    width: 100%;
    margin: 0;
  }
}

.colored {
  color: var(--mantine-color-patina-green-light);
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  color: black;
  justify-content: left;
}

.appButtonText {
  color: black;
}
