.heroContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 84px;

  @mixin smaller-than $mantine-breakpoint-md {
    align-items: center;
    flex-direction: column;
    margin-bottom: 36px;
  }
}

.textSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  width: 100%;
  font-size: 64px;
  color: white;
  padding-bottom: 40px;

  @mixin smaller-than $mantine-breakpoint-xs {
    font-size: 48px;
    padding-bottom: 24px;
  }
}

.description {
  text-align: left;
  padding-top: 10px;
  font-size: 24px;
  color: white;
  padding-bottom: 48px;

  @mixin smaller-than $mantine-breakpoint-xs {
    padding-bottom: 24px;
  }
}

.hero {
  height: 520px;
  width: 600px;
  padding-left: 100px;

  @mixin smaller-than $mantine-breakpoint-md {
    padding-left: 0;
    margin-top: 50px;
    height: auto;
    width: 100%;
    max-width: 600px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: left;
}
