.itemsMain {
  display: flex;
  flex-direction: column;
  row-gap: rem(25px);
}

.itemContainer {
  display: flex;
  flex-direction: row;
  border: rem(1px) solid var(--mantine-color-patina-dark-3);
  border-radius: rem(5px);
  background: var(--mantine-color-patina-dark-6);
}

.title {
  font-size: large;
  font-style: normal;
  font-weight: 600;
  color: white;
  flex: 2 1 auto;
  max-width: rem(260px);
  padding-left: rem(50px);
  padding-top: rem(25px);
  padding-bottom: rem(25px);
}

.description {
  max-width: 400px;
  white-space: normal;
  flex: 1 100 auto;
  color: white;
  font-weight: 400;
  font-size: rem(16px);
  font-style: normal;
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  padding-right: rem(48px);
}
