[access]
	inheritFrom = All-Projects
[submit]
	matchAuthorToCommitterDate = true
	action = rebase if necessary
[project]
	description = Patina Network's Summer '24 Program
[access "refs/*"]
	owner = group user/Henry Chen (arklian)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Patina Network
	label-Code-Review = -2..+2 group user/Henry Chen (arklian)
	label-Verified = -1..+1 group Patina Network
	label-Verified = -1..+1 group user/Henry Chen (arklian)
	push = group Patina Network
	push = group user/Henry Chen (arklian)
	read = group Patina Network
	read = group user/Henry Chen (arklian)
	rebase = group Patina Network
	rebase = group user/Henry Chen (arklian)
	removeReviewer = group Patina Network
	removeReviewer = group user/Henry Chen (arklian)
	submit = group Patina Network
	submit = group user/Henry Chen (arklian)
	revert = group Patina Network
	revert = group user/Henry Chen (arklian)
	toggleWipState = group Patina Network
	toggleWipState = group user/Henry Chen (arklian)
[access "refs/heads/*"]
	create = group user/Henry Chen (arklian)
	push = +force group user/Henry Chen (arklian)
	read = group user/Henry Chen (arklian)
	label-Code-Review = -2..+2 group Patina Network
	label-Code-Review = -2..+2 group user/Henry Chen (arklian)
	label-Verified = -1..+1 group Patina Network
	label-Verified = -1..+1 group user/Henry Chen (arklian)
[access "refs/tags/*"]
	push = group user/Henry Chen (arklian)
	push = +force group user/Henry Chen (arklian)
[receive]
	requireChangeId = false
	maxObjectSizeLimit = 10m
[plugin "uploadvalidator"]
	rejectDuplicatePathnames = true
	rejectSubmodule = true
	rejectSymlink = true
	rejectWindowsLineEndings = true
