[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Patina Network's Summer '24 Program
[access "refs/*"]
	owner = group user/Henry Chen (arklian)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Henry Chen (arklian)
	label-Verified = -1..+1 group user/Henry Chen (arklian)
	push = group user/Henry Chen (arklian)
	read = group user/Henry Chen (arklian)
	rebase = group user/Henry Chen (arklian)
	removeReviewer = group user/Henry Chen (arklian)
	submit = group user/Henry Chen (arklian)
[access "refs/heads/*"]
	create = group user/Henry Chen (arklian)
	push = +force group user/Henry Chen (arklian)
	pushMerge = group user/Henry Chen (arklian)
	read = group user/Henry Chen (arklian)
[access "refs/tags/*"]
	push = group user/Henry Chen (arklian)
	push = +force group user/Henry Chen (arklian)
