.badge {
  height: 300px;

  @mixin smaller-than $mantine-breakpoint-xs {
    height: 250px;
  }
}

.banner {
  border-radius: 8px;
}

.fractalMessage {
  margin: 24px 0;
  text-align: center;
  font-weight: 700;
}
