.details {
  font-size: 24px;
}

.internshipDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.internshipText {
  font-size: 24px;
}

.internshipTextHeader {
  align-self: center;
  font-size: 34px;
  font-weight: 700;
}

.internshipCards {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 0;
  list-style-type: none;

  @mixin smaller-than $mantine-breakpoint-md {
    grid-template-columns: repeat(1, 1fr);
  }
}

.listItem {
  width: 100%;
  display: flex;
  justify-content: center;
}
