.container {
  display: flex;
  column-gap: 72px;
  justify-content: center;

  @media (max-width: 996px) {
    padding: 0;
    border: 0;
    background: none;
    width: 350px;
    flex-direction: column;
    justify-content: center;
  }
}

.impact_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 128px;

  @media (max-width: 996px) {
    justify-content: center;
  }
}

.title {
  text-align: center;
  color: white;
  font-weight: 700;
  line-height: 83px;
  font-size: 64px;
  padding-bottom: 128px;

  @media (max-width: 996px) {
    text-align: center;
    font-size: 40px;
    padding: 0;
  }
}
