.itemContainer {
  display: flex;
  flex-direction: column;
  height: rem(600px);
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-self: stretch;
  padding-bottom: rem(66px);
  color: white;
  font-size: rem(26px);
  font-style: normal;
  font-weight: 700;
}

.appButton {
  margin-top: rem(50px);
  height: rem(43px);
  width: rem(150px);
}

.appButtonText {
  color: black;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
