.itemContainer {
  display: flex;
  flex-direction: row;
  width: rem(1004px);
  height: rem(600px);
  border: 1px solid #be5555;
}

.itemContainer2 {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  font-size: large;
  align-self: stretch;
  padding-bottom: rem(66px);
  color: white;
  font-size: rem(26px);
  font-style: normal;
  font-weight: 700;
}

.appButton {
  margin-top: rem(50px);
  height: rem(43px);
  width: rem(150px);
}

.appButtonText {
  color: black;
}

.buttonContainer {
  display: flex;
  justify-content: right;
}
