.left {
  min-height: 73vh;
  width: 50%;
  margin-right: 10px;
  transform: translateY(20px);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 720px) {
    margin-right: 0;
    width: 100%;
  }
}

.right {
  width: 50%;
  margin-left: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 720px) {
    margin-left: 0;
    width: 100%;
  }
}
