.donor_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 125px;
  margin-bottom: 50px;

  @media (max-width: 996px) {
    flex-direction: column;
  }
}

.donor_images {
  background-color: red;
  height: 150px;
  width: 35%;

  @media (max-width: 996px) {
    margin-top: 50px;
    width: 90%;
  }
}

.donor_title {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-left: 40px;
  width: 35%;

  @media (max-width: 996px) {
    width: 100%;
    padding-left: 0;
  }
}

.donor_text {
  font-weight: normal;
  font-size: 20px;
  padding-top: 50px;

  @media (max-width: 996px) {
    width: 100%;
  }
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: blue;
  height: 150px;
}
