.about {
  margin-bottom: 112px;

  @mixin smaller-than $mantine-breakpoint-xs {
    margin-bottom: 64px;
  }
}

.aboutTitle,
.timeCommitmentTitle {
  color: white;
  font-weight: 700;
  line-height: 35px;
  font-size: 26px;
}

.aboutText,
.timeCommitmentText {
  color: white;
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
}

.right {
  width: 538px;
  height: 309px;
  justify-content: center;
  justify-items: center;
  display: contents;
}

.quote {
  margin: 64px;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 34px;

  @mixin smaller-than $mantine-breakpoint-xs {
    text-align: left;
    margin: 24px;
    font-size: 28px;
  }
}
