.about {
  margin-bottom: 64px;
  gap: 24px;

  @mixin smaller-than $mantine-breakpoint-md {
    gap: 48px;
    flex-direction: column;
    margin-bottom: 64px;
  }
}

.aboutText {
  color: white;
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
}

.quote {
  margin: 64px;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  height: auto;

  @mixin smaller-than $mantine-breakpoint-xs {
    text-align: left;
    margin: 24px;
    font-size: 28px;
  }
}
