.title {
  font-size: rem(64px);
  color: white;
}

.description {
  color: white;
  text-align: left;
  padding-top: rem(10px);
  font-size: rem2(4px);
}

.mentorImage {
  border-radius: rem(5px);
}

.fonts {
  color: black;
  font-weight: 600;
}
