.description {
  text-align: left;
  padding-top: 10px;
  font-size: 24px;
  color: white;
  padding-bottom: 50px;
}

.colored {
  color: var(--mantine-color-patina-red-light);
  text-decoration: underline;
}

/* Volunteer Cards */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @mixin smaller-than $mantine-breakpoint-md {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Email and Button Section */
.emailSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  width: 100%;
  background-image: radial-gradient(#ff3d3d33 0%, #1a1b1e 65%);
}

.emailText {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 28px;
  text-align: center;
  padding: 81px 7.78px 52px 0.38px;
}

.emailEmail {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.emailButton {
  width: 101px;
  height: 43px;
  background: white;
  color: black;
}
