.card {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cardContent {
  flex-grow: 1;
}

.cardTitle {
  margin-bottom: 10px;
}

.cardRoleType {
  margin-bottom: 5px;
  color: #ccc;
}

.cardDescription {
  color: #aaa;
}

.moreInfo {
  margin-top: 5px;
  color: var(--mantine-color-patina-blue-light);
  font-style: italic;
  align-self: flex-end;
}

.modalContentContainer {
  padding: 7px 10px;
}

.modalContent {
  text-align: left;
  white-space: pre-wrap;
  margin-top: 2px; /* Add some top margin for spacing */
}

.modalTitle {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
