.heroContainer {
  @media (max-width: rem(996px)) {
    margin: rem(16px);
  }
}

.title {
  font-size: 64px;
  color: white;
}

.description {
  text-align: left;
  padding-top: rem(10px);
  font-size: 24px;
  color: white;
}

.volunteerHero {
  height: rem(500px);
  width: rem(597px);

  @media (max-width: rem(996px)) {
    width: 100%;
    margin: 0;
  }
}

.colored {
  text-decoration: underline var(--mantine-color-patina-blue-light);
  color: var(--mantine-color-patina-blue-light);
}

/* Volunteer Cards */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* Email and Button Section */
.emailSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: auto;
  width: 100%;
  padding-bottom: 25px;
}

.backgroundBlur {
  width: 100%;
  height: 42.5%;
  border-radius: 20px;
  background: rgba(255, 61, 61, 0.2);
  filter: blur(100px);
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  width: 100%;
  background-image: radial-gradient(#ff3d3d33 0%, #1a1b1e 65%);
}

.emailText {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(28px);
  text-align: center;
  padding-bottom: 52px;
  padding-top: 81px;
  padding-left: 0.38px;
  padding-right: 7.78px;
}

.emailEmail {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.emailButton {
  width: 101px;
  height: 43px;
  background: white;
  color: black;
}
