.card {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cardContent {
  flex-grow: 1;
}

.cardTitle {
  margin-bottom: 10px;
}

.cardRoleType {
  margin-bottom: 5px;
  color: #ccc;
}

.cardDescription {
  color: #aaa;
}

.moreInfo {
  color: var(--mantine-color-patina-green-light);
  font-style: italic;
  align-self: flex-end;
}

.modalContentContainer {
  padding: 7px 10px;
}

.modalContent {
  padding: 10px 48px;
  text-align: left;
  white-space: pre-wrap;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.modalCustom {
  max-width: 100%; /* Ensure it doesn't exceed the screen width */
  --modal-size: 50%; /* Default width for larger screens */

  @media (max-width: $mantine-breakpoint-md) {
    --modal-size: 70%; /* Adjust width for medium screens */
  }

  @media (max-width: $mantine-breakpoint-sm) {
    --modal-size: 90%; /* Adjust width for smaller screens */
  }
}
