.navbar {
  height: 100px;
}

.wrapper {
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar_links {
  font-weight: bold;
}

.a_links {
  text-decoration: none;
}

.links {
  display: flex;
  gap: 20px;
}

