.grid {
  padding: 128px;
}

.calendarCell {
  padding: 10px;
  font-size: 15px;
}

.calendarHeader {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
}

.calendarHeaderText {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}

.calendarBody {
  margin: auto;
}
