.container {
  display: flex;
  flex-direction: column;
  padding: 48px;
  min-width: 450px;
  border: 1px solid var(--mantine-color-patina-dark-3);
  border-radius: 5px;
  background: var(--mantine-color-patina-dark-6);

  @mixin smaller-than $mantine-breakpoint-md {
    min-height: 160;
  }
}
