.contain {
  background-color: var(--mantine-color-dark-6);
  padding: rem(20px);
  max-width: rem(370px);
  min-width: rem(370px);
}

.cardContainer {
  @media (max-width: rem(996px)) {
    flex-direction: column;
    align-items: center;
  }
}
