.cards {
  background-color: rgba(0, 0, 0, 0.25); /* Equivalent to #00000040 */
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease;
}

.cards:hover {
  transform: scale(1.05);
}

.message {
  max-width: 460px;
  animation: fade 0.5s;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoImg {
  border-radius: 50%;
  width: 120px;
}

.name {
  width: 100%;
  padding-left: 22px;
  transform: translateY(-8px);
  font-family: Pacifico-Regular, serif;
}

.bg {
  font-size: 5rem;
}

.sm {
  margin-left: 6px;
  font-size: 2rem;
}

.description {
  padding: 1rem;
  margin-top: 3.5rem;
  max-width: 460px;
  animation: fade 0.5s;
}

.content {
  display: flex;
  justify-content: space-between;
}
