.about {
  display: flex;
  align-self: center;
  width: 70%;
  justify-content: space-around;
  align-content: flex-start;
  margin-bottom: 10rem;
  padding-top: 10rem;
  flex-wrap: wrap;
}

.aboutDesc {
  max-width: 60%;
}

.titleLine {
  margin-left: 30px;
  width: 300px;
  height: 0.5px;
  background-color: light-dark(
    var(--mantine-color-black),
    var(--mantine-color-white)
  );
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}

.title {
  font-size: 45px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.aboutImageDiv {
  display: flex;
  align-items: center;
}

.aboutImage {
  width: 300px;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.aboutText {
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .aboutDesc {
    max-width: 100%;
  }

  .aboutImageDiv {
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
  }

  .aboutImage {
    width: 80%;
  }
}
