.about {
  display: flex;
  align-self: center;
  width: 70%;
  justify-content: space-around;
  align-content: flex-start;
  margin-bottom: 20vh;

}

.aboutDesc{
  max-width: 50%;
}

.titleLine {
  margin-left: 30px;
  flex-grow: 1;
  height: 1px;
  background-color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}

.title{
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white))
}
