.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-top: 10rem;
}

.contactLine {
  height: 0.5px;
  background-color: light-dark(
    var(--mantine-color-black),
    var(--mantine-color-white)
  );
  width: 200px;
  margin-bottom: 10px;
}

.title {
  font-size: 55px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: 20px;
}

.text {
  max-width: 500px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.iconSection {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.icons {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  transition: transform 150ms ease;
  margin-left: 20px;
  margin-right: 20px;
}

.icons:hover {
  color: cyan;
  transform: scale(1.2);
}

.author {
  margin-top: 150px;
}

@media (max-width: 760px) {
  .iconSection {
    display: flex;
  }

  .author {
    margin-top: 25px;
  }
}
