.hero {
  display: flex;
  justify-content: flex-start;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 12rem;
  margin-bottom: 10rem;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 4.5rem;
  font-weight: 750;
  letter-spacing: -2px;
  line-height: 5rem;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 50px;
  }
}

.description {
  line-height: 1.8rem;
}
