.work {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-bottom: 30vh;
  padding-top: 10vh;
  width: 900px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
}

.titleLine {
  margin-left: 30px;
  height: 0.5px;
  background-color: light-dark(
    var(--mantine-color-black),
    var(--mantine-color-white)
  );
  width: 300px;
}

.titleContain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3vh;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-color: var(--mantine-color-gray-filled);
  width: 100%;
  margin-bottom: 20px;
  transition: transform 250ms ease;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px 0.1px rgba(0, 0, 255, 0.2);
}

.projectTitle:hover {
  color: var(--mantine-color-blue-4);
}

.clickable {
  text-decoration: none;
  color: inherit;
}

.projectContent {
  max-width: 550px;
  margin: 35px;
}

.projectImage {
  display: flex;
  align-items: center;
}
