.hitokoto {
  width: 100%;
  height: 100%;
  padding: 20px;
  animation: fade 0.5s;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text {
  font-size: 1.1rem;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.from {
  margin-top: 10px;
  font-weight: bold;
  align-self: flex-end;
  font-size: 1.1rem;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
