.description {
  text-align: left;
  padding-top: 10px;
  font-size: 24px;
  color: white;
  padding-bottom: 50px;
}

.colored {
  color: var(--mantine-color-patina-green-light);
  text-decoration: underline;
}

.about {
  padding-top: 128px;
  display: flex;
  gap: 126px;
  margin-bottom: 100px;

  @media (max-width: 996px) {
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
  }
}

.application {
  display: flex;
  justify-content: center;
  align-items: center;
}

<<<<<<< Updated upstream
.buttonContainer {
  display: flex;
  color: black;
  justify-content: left;
}

=======
>>>>>>> Stashed changes
.emailSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 48px 64px;
  gap: 128px;
}
