.heroContainer {
  @media (max-width: 996px) {
    margin: 16px;
  }
}

.title {
  font-size: 64px;
  color: white;
}

.description {
  text-align: left;
  padding-top: 10px;
  font-size: 24px;
  color: white;
}

.scholarshipHero {
  height: 500px;
  width: 597px;

  @media (max-width: 996px) {
    width: 100%;
    margin: 0;
  }
}

.about {
  padding-top: 128px;
  display: flex;
  gap: 126px;
  margin-bottom: 100px;

  @media (max-width: 996px) {
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colored {
  color: var(--mantine-color-patina-green-light);
  text-decoration: underline;
}

.application {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 48px 64px;
  gap: 128px;
}
