.description {
  text-align: left;
  padding-top: 10px;
  font-size: 24px;
  color: white;
  padding-bottom: 50px;
}

.colored {
  color: var(--mantine-color-patina-green-light);
  text-decoration: underline;
}

.about {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  @mixin smaller-than $mantine-breakpoint-md {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.buttonContainer {
  display: flex;
  color: black;
  justify-content: left;
}
