.criteria_container {
  display: flex;
  justify-content: center;
}

.criteria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: rem(75%);
  max-width: rem(1200px);
  background-color: #25262b;
  padding: rem(75px) rem(50px);
  background-image: radial-gradient(#196149 0%, #25262b 75%);
  background-size: rem(50%);
  background-repeat: no-repeat;
  background-position: rem(100%);
}

.selection {
  width: rem(550px);
}

.selection_title {
  color: white;
  font-size: rem(22px);
}

.checklist {
  padding-top: rem(45px);
  font-size: rem(18px);
  color: white;
}

.quote {
  width: 50%;
  display: flex;
  align-items: center;
  height: auto;
  padding-left: 3%;
  /* colors needed to make gradient, non-standard Patina colors */
}

.quote_text {
  align-items: center;
  text-align: left;
  font-size: rem(35px);
  color: white;
  padding: rem(45px);
}
