.homeContainer {
  max-width: rem(1200px);
}

.hero_container {
  margin: rem(135px);
  padding: rem(16px);

  @media (max-width: rem(996px)) {
    margin: rem(16px);
  }
}

.title {
  font-size: 64px;
  color: white;
}

.description {
  text-align: left;
  padding-top: rem(10px);
  font-size: 24px;
  color: white;
}

.scholarshipHero {
  height: rem(500px);
  width: rem(597px);

  @media (max-width: rem(996px)) {
    width: 100%;
    margin: 0;
  }
}

.about {
  padding-top: rem(128px);
  display: flex;
  gap: rem(126px);
  margin-left: rem(150px);
  margin-right: rem(150px);
  margin-bottom: rem(100px);

  @media (max-width: rem(996px)) {
    justify-content: center;
    flex-wrap: wrap;
    margin: rem(50px);
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colored {
  color: var(--mantine-color-patina-green-light);
  text-decoration: underline;
}

.application {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(0px) rem(48px) rem(64px);
  gap: rem(128px);
}
