.carouselContainer {
  max-width: 1200px;
  padding-bottom: 128px;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.slide {
  display: flex;
  flex-direction: row;
  height: 200px;
  background-color: var(--mantine-color-dark-6);
  border-radius: 8px;
  overflow: hidden;
}

.imagePlaceholder {
  flex: 1;
  background-color: var(--mantine-color-dark-4);
  justify-content: center;
  align-items: center;
}

.textContainer {
  flex: 1;
  padding: 16px;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
}

.quote {
  font-style: italic;
  font-size: 12px;
  color: var(--mantine-color-dark-0);
}

.title {
  font-size: 22px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-right: -45px;
  margin-left: -45px;

  @mixin smaller-than $mantine-breakpoint-md {
    height: 0;
  }
}
