.initiativesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  color: white;
  padding: 48px;
  flex-direction: column;
  border-radius: 5px;
  line-height: 16px;
  border: 1px solid var(--mantine-color-dark-4);
  background: var(--mantine-color-dark-6);

  @mixin smaller-than $mantine-breakpoint-md {
    padding: 0;
    border: 0;
    background: none;
  }
}

.title {
  color: white;
  font-weight: bold;
  font-size: 34px;

  @mixin smaller-than $mantine-breakpoint-md {
    text-align: center;
    font-size: 40px;
    padding: 0;
  }
}
