.initiatives_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  color: white;
  padding: rem(48px);
  flex-direction: column;
  border-radius: rem(5px);
  line-height: rem(16px);
  border: rem(1px) solid var(--mantine-color-dark-4);
  background: var(--mantine-color-patina-dark-6);

  @media (max-width: rem(996px)) {
    padding: 0;
    border: 0;
    background: none;
  }
}

.title {
  color: white;
  font-weight: bold;
  font-size: 34px;

  @media (max-width: rem(996px)) {
    text-align: center;
    font-size: rem(40px);
    padding: rem(0px);
  }
}
