.title {
  font-size: rem(64px);
  color: white;
}

.description {
  text-align: left;
  padding-top: rem(10px);
  font-size: 24px;
  color: white;
}

.mentorImage {
  border-radius: 5px;
  height: rem(500px);
  width: rem(597px);
}
