.title {
  font-size: 64px;
  color: white;
}

.description {
  text-align: left;
  padding-top: 10px;
  font-size: 24px;
  color: white;
}

.mentorImage {
  border-radius: 5px;
  height: 500px;
  width: 597px;
}
