.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 600px;

  @mixin smaller-than $mantine-breakpoint-sm {
    width: 100%;
  }
}

.title {
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
  color: white;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}

.appButton {
  margin-top: 50px;
  height: 43px;
  width: 150px;
}

.appButtonText {
  color: black;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
