.scrollArea {
  text-wrap: wrap;
  width: 100%;
}

.section {
  padding-top: 5rem;
  padding-left: 4rem;
}

.title {
  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(30px);
  }
}

.subtitle {
  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(20px);
  }
}

.text {
  text-wrap: wrap;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(15px);
  }
}

.embedPost {
  height: 90rem;
  width: 100%;
}

.projectLink {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.project {
  padding: rem(10px);

  @media (max-width: $mantine-breakpoint-md) {
    display: block;
    padding: rem(10px);
    margin-top: rem(10px);
  }
}

.project:hover {
  border-radius: rem(10px);
  background-color: rgba(34, 139, 230, 0.15);
}

.container {
  margin: 1rem;

  @media (max-width: $mantine-breakpoint-md) {
    margin: 0;
    margin-top: rem(10px);
    padding: 0;
  }
}

.skill {
  background-color: light-dark(#9db4c0, #5c6b73);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(15px);
  }
}

.image {
  height: auto;
  width: 100%;
  padding-bottom: rem(10px);

  @media (max-width: $mantine-breakpoint-md) {
    margin-top: rem(10px);
  }
}
