.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(64px);
    letter-spacing: rem(-2px);

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(50px);
    }
}

.title2 {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(40px);
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(30px);
  }
}

.header {
    height: rem(6vh);
    background-color: var(--mantine-color-body);
    border-bottom: rem(0.2vh) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
    height: rem(6vh);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer {
  margin-left: 2rem;
  justify-content: flex-end;
  margin-top: auto;
}
