.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(64px);
    letter-spacing: rem(-2px);

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(50px);
    }
}

.title2 {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(48px);
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.header {
    height: rem(56px);
    margin-bottom: rem(60px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
  min-height: 85vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer {
  margin-left: 3rem;
  margin-top: auto;
}
