.title {
  position: absolute;
  font-size: 450px;
  font-family: "Yeseva One", Serif;
  letter-spacing: 6px;
  top: 200px;
  left: 350px;
  font-weight: 999;
}

.introduction {
  font-size:  150px;
  left: 250px;
  top: 190px;
}

.about_title {
  position: relative;
  font-size: 200px;
  left: 210px;
  top: 10px;
}

.about_info {
  letter-spacing: 2px;
  font-size: 30px;
  left: 100px;
  top: 350px;
  font-weight: 550;
}

.about_info .mantine-List-itemLabel{
  letter-spacing: 2px;
  font-size: 30px;
  left: 100px;
  top: 350px;
  font-weight: 550;
}

.body {
  overflow-y: hidden;
  overflow-x: scroll;
  left: 144px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#e2afaf94 0%, #cb4a8b7a 100%);
}

.border {
  border-left: 2px solid #99014940;
  height: 100%;
  position: fixed;
  left: 144px;
  margin-left: 0px;
  top: 0;
  z-index: 10;
}

.about_border {
  position: absolute;
  left: 1440px;
}

.resume_border{
  position: absolute;
  left: 3450px;
}

.menuWrapper {
  width: 100%;
  position: fixed;
  padding: 20px;
  top: 650px;
  left: 20px;
  bottom: 20px;
  z-index: 300;
}

.menuItems{
  z-index: 200;
  width: 100%;
  padding: 24px 0px 20px 80px;
  font-size: 35px;
  letter-spacing: 2px;
  font-family: "Yeseva One", Sans-Serif;
}

.modal {
  width: 100%;

  :global(.mantine-Modal-title){
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 3px;
    font-family: "Yeseva One", Sans-Serif;
    z-index: 200;
  }

  :global(.mantine-Modal-inner) {
    padding: 0;
    opacity: 100%;
    color: #be5555;
    z-index: 200;
    font-family: "Yeseva One", Sans-Serif;
  }

  :global(.mantine-Modal-content) {
    padding: 50px 0px 0px 60px;
    max-height: 100%;
    height: 100vh;
    position: relative;
    margin-right: 750px;
    background-color: #dca9bc;
    border: 1mm inset #EB7C7CFF;
    z-index: 200;
    font-family: "Yeseva One", Sans-Serif;
  }

  :global(.mantine-Modal-header) {
    background-color: #dca9bc;
    font-weight: 900;
    font-family: "Yeseva One", Sans-Serif;
  }
}

.left{
  z-index: 900;
  width: 144px;
  height: 100vh;
}

.icons{
  z-index: 900;
  top: 300px;
  left: 40px;
}

.home_icon{
  z-index: 900;
  top: 30px;
  left: 0px;
}

.playlist{
  position: absolute;
  border: none;
  z-index: 1;
  top: 300px;
  width: 300px;
  height: 350px;
  left: 1700px;
}
