.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.body {
  font-family: Sans-Serif;
}
.border {
  border-left: 1px solid #662100;
  height: 100%;
  position: fixed;
  left: 10%;
  margin-left: -3px;
  top: 0;
}
.menu {

}
.menuWrapper {
  padding: 20px;
  position: fixed;
  left: 20px;
  bottom: 20px;
}
