.resume_title{
  position: absolute;
  font-size: 200px;
  left: 400px;
  z-index: 1;
}

.resume_info{
  font-size: 50px;
  letter-spacing: 2px;
  position: absolute;
  left: 3950px;
  top:80px;
  border: dashed #be5555;
  border-radius: 50px;
}

.resume_info_list{
  font-size: 30px;
}

.resume_info_list2{
  font-size: 25px;
}

.resume_experience{
  font-size: 40px;
  letter-spacing: 2px;
  border: dashed #be5555;
  border-radius: 40px;
}

.resume_border{
  position: absolute;
  left: 3450px;
}

.resume_gradient{
  background: linear-gradient(190deg, #e02525, #a067ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download_resume{
  position: absolute;
  left: 3240px;
  top: 300px;
  z-index: 100;
}
