.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  max-width: 600px;

  @mixin smaller-than $mantine-breakpoint-xs {
    aspect-ratio: 1;
    height: auto;
    width: 100%;
    flex-direction: column;
    max-width: 300px;
  }
}

.cardName {
  font-size: 24px;
  font-weight: 700;
}

.cardDetails {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 300px;

  @mixin smaller-than $mantine-breakpoint-xs {
    width: 100%;
  }
}

.imageWrapper {
  position: relative;
  box-sizing: border-box;
  height: 250px;
  width: 250px;
  border-radius: 0 12px 12px 0;

  @mixin smaller-than $mantine-breakpoint-xs {
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    border-radius: 0 0 12px 12px;
  }
}

.cardLinks {
  display: flex;
  gap: 10px;
}

.cardText {
  font-size: 18px;
  font-weight: 500;
}

.image {
  display: block;
  box-sizing: border-box;
  object-fit: cover;
  opacity: 1;
  height: 250px;
  width: 250px;
  backface-visibility: hidden;
  border-radius: 0 12px 12px 0;

  @mixin smaller-than $mantine-breakpoint-xs {
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    border-radius: 0 0 12px 12px;
  }
}

.imageHover {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageWrapper:hover .image {
  transition: 0.5s ease;
  opacity: 0.3;
}

.imageWrapper:hover .imageHover {
  transition: 0.5s ease;
  opacity: 1;
}

.hoverText {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--mantine-color-patina-green-light);
  color: var(--mantine-color-dark-8);
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
}
