.title {
  margin-bottom: 128px;
  margin-top: 128px;
  text-align: center;
  color: white;

  @mixin smaller-than $mantine-breakpoint-md {
    font-size: 40px;
  }
}

.cards {
  margin-bottom: 128px;
}
