.animate_fade_in {
  opacity: 0%;
  animation-name: fade-in;
  animation-duration: 1.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.animate_fade_in_navbar {
  animation-name: fade-in;
  animation-duration: 1.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animate_fade_in_delay {
  opacity: 0%;
  animation-name: fade-in;
  animation-duration: 1.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.title {
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.spotify {
  border-radius: 12px;
  width: 100%;
  height: 152px;
  border: none;
}

.navlink {
  text-decoration: none;
  color: var(--mantine-link);
  font-size: 20px;
}

.navlink_current {
  text-decoration: none;
  color: var(--mantine-link-current);
  font-size: 20px;
}

.hkbody a.navlink:hover {
  color: var(--mantine-link-hover);
}

.hkbody a.action:hover {
  color: var(--mantine-action-hover);
}

.project:hover {
  animation-name: project-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes project-hover {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}
