.projectsSection {
  padding: 50px 0;
}

.projectContainer {
  margin-bottom: 50px;
}

.sectionTitle {
  text-align: center;
  font-size: 36px;
  color: var(--mantine-color-gray-0);
  margin-bottom: 40px;
  position: relative;
}

.sectionTitle::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 10px;
  background-color: #8298b0;
  left: 50%;
  transform: translateX(20%);
  bottom: -5px;
}

.projectImageWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.projectImage {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.projectImageWrapper:hover .projectImage {
  transform: scale(1.05);
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectTitle {
  margin-bottom: 20px;
}

.projectDescription {
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
}

.button {
  background-color: #8298b0;
  color: #fff;
  border: none;
}
