.projectsSection {
  padding: 50px 0;
}

.projectContainer {
  margin-bottom: 50px;
}

.sectionTitle {
  text-align: center;
  font-size: 36px;
  color: var(--mantine-color-gray-0);
  margin-bottom: 40px; /* Increase this to add more space between title and body */
  position: relative;
}

.sectionTitle::after {
  content: '';
  position: absolute;
  width: 80px; /* Adjust the width to make it shorter */
  height: 10px;
  background-color: #8298b0;
  left: 50%; /* Start from the center */
  transform: translateX(20%); /* Move it slightly to the right */
  bottom: -5px; /* Adjust the distance below the text */
}

.projectImage {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectTitle {
  margin-bottom: 20px;
}

.projectDescription {
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
}

.button {
  background-color: #8298b0;
  color: #fff;
  border: none;
}
