.page {
  height: 100%;
  width: 90%;
  display: flex;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.header {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: light-dark(#f0f4ff, #1c2336);
}

.headerLeft {
  float: left;
}

.headerRight {
  float: right;
  display: flex;
}

.sidebar {
  position: sticky;
  top: 5rem;
  padding-left: 4rem;
}

.sidebar[data-status='false'] {
  display: none;
}

.sidebar[data-status='true'] {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100vw;
  }
}

.name {
  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(30px);
  }
}

.navbar {
  font-size: rem(30px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(20px);
  }
}
