.page {
  height: 80vh;
  width: 90%;
  display: flex;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.header {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.headerLeft {
  float: left;
}

.headerRight {
  float: right;
  display: flex;
}

.sidebar[data-status='false'] {
  display: none;
}

.sidebar[data-status='true'] {
  @media (max-width: $mantine-breakpoint-sm) {
    width: rem(400px);
  }
}

.name {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(30px);
  }
}

.navbar {
  font-size: rem(30px);
}
