.mainPage {
  height: 80vh;
  width: 90%;
  display: flex;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.header {
  float: right;
  display: flex;
  margin-top: 1rem;
}

.title {
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.leftSide {
  width: 20vw;
}

.project {
  display: flex;
  padding: rem(5px);
}

.project:hover {
  border: solid
    light-dark(var(--mantine-color-black), var(--mantine-color-white));
  border-radius: rem(10px);
}

.projectLink {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.skill {
  background-color: light-dark(#9db4c0, #5c6b73);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.navbar {
  font-size: rem(30px);
}

.resumeHeading {
  display: block;
  width: 100%;
}

.resumeTitle {
  float: left;
  width: 70%;
}

.resumeDate {
  float: right;
  width: 30%;
}

.resumeSubtitle {
  clear: both;
}

.resumeSkillsTitle {
  width: 100%;
}

.resumeSkills {
  display: inline;
  text-align: left;
}

.embedPost {
  height: 90rem;
  width: 100%;
}
