.homeSplash {
  background-position: right;
  background-size: 700px;
  background-repeat: no-repeat;
  height: 700px;
  margin-bottom: 48px;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100vw;
    height: 600px;
    background-position: center;
    background-size: cover;
  }
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 700px;

  @media (max-width: $mantine-breakpoint-xs) {
    height: 600px;
  }
}

.hero_title {
  text-shadow: rem(1px) rem(2px) rem(6px) #989898;
  color: white;
  font-size: rem(60px);
  width: 75%;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(45px);
    padding: 30px;
    width: 100%;
  }
}

.title_teal {
  color: var(--mantine-color-patina-green-light);
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.importantSectionTitle {
  font-size: rem(48px);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 48px;
  color: white;

  @media (max-width: rem(996px)) {
    justify-content: center;
    align-items: center;
    font-size: rem(40px);
  }
}

.aboutInit {
  display: flex;
  align-content: stretch;

  @media (max-width: rem(996px)) {
    flex-direction: column;
  }
}
