.homeSplash {
  background-position: right;
  background-size: 700px;
  background-repeat: no-repeat;
  height: 650px;
  margin-bottom: 48px;

  @mixin smaller-than $mantine-breakpoint-sm {
    width: 100vw;
    height: 600px;
    background-position: center;
    background-size: cover;
  }
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 700px;

  @mixin smaller-than $mantine-breakpoint-sm {
    height: 600px;
  }
}

.heroTitle {
  text-shadow: 1px 2px 6px #989898;
  color: white;
  font-size: 60px;
  padding-bottom: 96px;
  width: 75%;

  @mixin smaller-than $mantine-breakpoint-sm {
    font-size: 45px;
    padding-inline: 48px;
    width: 100%;
  }

  @mixin smaller-than $mantine-breakpoint-xs {
    font-size: 45px;
    padding-inline: 36px;
    width: 100%;
  }
}

.titleTeal {
  color: var(--mantine-color-patina-green-light);
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.importantSectionTitle {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 48px;
  color: white;

  @mixin smaller-than $mantine-breakpoint-md {
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}

.aboutInit {
  display: flex;
  align-content: stretch;

  @mixin smaller-than $mantine-breakpoint-md {
    flex-direction: column;
  }
}
