.about {
  display: flex;
  max-width: rem(447px);
  @media (max-width: rem(1300px)) {
    max-width: rem(1000px);
  }
}

.text {
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: rem(20px);
}

.title {
  font-size: rem(26px);
  font-style: normal;
  font-weight: 700;
}

.body {
  font-size: rem(18px);
  font-weight: 400;
}
