.name {
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
  color: #daddd8;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 50px;
  }
}

.textSWE {
  color: #ecebe4;
  font-size: 30px;
  font-weight: 400;
}

.about {
  color: #eef0f2;
  line-height: 1.625;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 35px;
  margin-left: 14px;
}

.pfp {
  margin-top: 30px;
  border-radius: 10px;
  height: 400px;
  width: 400px;
}

.grid {
  position: relative;
  background-color: #1c1c1c;
  padding: 140px;
  height: max-content;
}

.flex {
  display: flex;
  margin-bottom: 10px;
}

.flexProject {
  display: flex;
  margin-bottom: 10px;
}

.flexMenu {
  display: flex;
  text-align: center;
}

.socialIcons {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  margin-left: 10px;
}

.navLine {
  width: 20px;
  height: 1px;
  margin-top: 16px;
  margin-right: 4px;
  background-color: #ecebe4;
}

.menu {
  margin-top: 5px;
  padding: 0;
}

.menu1 {
  color: #ecebe4;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
  line-height: 1rem;
}

.flashlight {
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}

.experienceTitle {
  font-size: 15px;
  font-weight: bold;
  color: #daddd8;
}

.experienceText {
  margin-bottom: 20px;
}

.projectItem {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 20px;
}

.projectText {
  margin-left: 1rem;
  max-width: 300px;
}

.projectPic {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}
