.header {
  height: 56px;
  background-color: var(--mantine-color-dark-6);
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.headerPlaceholder {
  position: relative;
  width: 100%;
  height: 56px;
  margin-bottom: 48px;
}

.inner {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-text);

  @mixin hover {
    background-color: var(--mantine-color-dark-5);
  }
}

.linkLabel {
  margin-right: 5px;
}

.dropDownItem {
  text-decoration: none;
  color: inherit;
}

.mobile {
  flex-direction: column;
  align-items: flex-start;
}
