[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[branch]
	autoSetupRebase = always
[alias]
	pushf = push --force-with-lease --force-if-includes
	pullo = pull origin main
	pullg = pull gerrit main
	rebaseo = rebase -i origin/main
[commit]
    template = tools/git/.gitmessage
