[push]
    autoSetupRemote = true
[rebase]
    autoStash = true
[branch]
    autoSetupRebase = always
[alias]
    pushf = push --force-with-lease --force-if-includes
    pullo = pull origin main
    pullg = pull gerrit main
    rebaseo = rebase -i origin/main
    nb = switch --track=inherit -c
[commit]
    template = tools/git/.gitmessage
[fetch]
    all = true
[remote "origin"]
    fetch = ^refs/heads/ci/*
