.involvedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(64px) 0;
}

.sectionHeader {
  align-self: stretch;
  color: var(--mantine-color-white, #fff);
  text-align: center;
  font-size: rem(40px);

  @media (max-width: rem(996px)) {
    font-size: rem(30px);
  }
}

.header {
  margin: auto;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(40px);
  width: 100%;
  padding: 24px 0;

  @media (max-width: rem(996px)) {
    flex-direction: column;
  }
}
