.involvedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
}

.sectionHeader {
  align-self: stretch;
  color: var(--mantine-color-white, #fff);
  text-align: center;
  font-size: 40px;

  @mixin smaller-than $mantine-breakpoint-md {
    font-size: 30px;
  }
}

.header {
  margin: auto;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding: 24px 0;

  @mixin smaller-than $mantine-breakpoint-md {
    flex-direction: column;
  }
}
