.card {
  height: 100%;
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  text-align: center;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid var(--mantine-color-dark-3, #5c5f66);
  background: var(--mantine-color-patina-dark-6);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

.centering {
  flex: 1 0 0;

  @media (max-width: 996px) {
    flex: 1;
  }
}

.Card h3 {
  margin-bottom: 10px;
  color: var(--mantine-color-white, #fff);
}

.cardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}

.cardText {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--mantine-color-white, #fff);
}

.cardButton {
  display: flex;
  padding: 10px 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid var(--mantine-color-white, #fff);
  background: var(--mantine-color-patina-dark-4);
  color: var(--mantine-color-white, #fff);
}

.flashlight {
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
}

.card:hover .flashlight {
  display: block;
}
