.text {
  text-align: left;
  padding-top: rem(10px);
  font-size: rem(24px);
}

.button {
  background-color: var(--mantine-color-patina-green-light);
  color: var(--mantine-color-gray-8);
  width: rem(100px);
}

.button:hover {
  background-color: var(--mantine-color-patina-green-dark);
  color: var(--mantine-color-gray-1);
}
