/* Button Animations */

.sunToMoonButton {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animationEnter {
    animation: enter-from-right 0.75s forwards;
}

.animationExit {
    animation: exit-to-left 0.75s forwards;
}

@keyframes enter-from-right {
    from {
        transform: translateX(80px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes exit-to-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-80px);
    }
}