.themeButton {
  justify-self: end;
}

.scPlayerWrapper {
  padding-top: var(--mantine-spacing-md);
}

.scPlayer {
  font-size: 10px;
  color: #ccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
    Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}

.accordionLabel {
  background-color: var(--mantine-color-cobalt-8);

  &:hover {
    background-color: var(--mantine-color-cobalt-9);
  }
}

.accordionContent {
  background-color: var(--mantine-color-cobalt-6);
  padding-top: var(--mantine-spacing-md);
}

.projCard {
  background-color: var(--mantine-color-cobalt-8);
}

.projCarousel {
  max-width: 400px;
  align-self: center;
  justify-items: flex-end;
  padding-top: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-sm);
}

.contactWrapper {
  min-height: 400px;
  background-color: var(--mantine-color-cobalt-7);
  border-radius: var(--mantine-radius-md);
  padding: calc(var(--mantine-spacing-xl) * 2.5);

  @media {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }
}
