.scPlayer {
  font-size: 10px;
  color: #ccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}

.projCarousel {
  max-width: 400px;
  align-self: center;
  margin-top: 3em;
}
