.projectContinear{
  justify-content: center;
  justify-items: center;
  display: block;
}

.projectItem{
  min-height: 100vh;
}

.textSection{
  display: block;
}

.barSection {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.barShape {
  padding-top: 5px;
  width: 40px;
  height: 10px;
  background-color:light-dark(var(--mantine-color-black), var(--mantine-color-white));
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  margin-top: 10px;
  position: absolute;
}

.barLine {
  width: 100px;
  height: 2px;
  background-color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-right: 10px;
}

.barNumber {
  font-size: 1.2em;
  font-weight: bold;
}

.imageContainer {
  position: relative;
  justify-content: flex-start;
  width: 600px;
  height: 400px;
}

.image1,
.image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image1 {
  z-index: 2;
  opacity: 0.7;
}

.image2 {
  padding-top: 2rem;
  padding-left: 4rem;
  width: 32.7rem;
  height: 19.5rem;
  z-index: 1;
}
