.container {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  margin-right: rem(38px);

  @media (max-width: $mantine-breakpoint-xs) {
    margin-right: 0;
  }
}

.aboutText {
  color: var(--mantine-color-gray-1);
  font-size: rem(34px);
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 24px;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(24px);
  }
}

.moreButton {
  height: rem(43px);
  width: auto;
  margin-top: rem(36px);
  margin-bottom: rem(64px);

  @media (max-width: $mantine-breakpoint-xs) {
    width: auto;
    margin-top: rem(12px);
    margin-bottom: rem(48px);
  }
}
