.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.scroll_container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.sections {
  display: flex;
  flex-direction: column;
}

.section {
  min-height: 100vh;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  scroll-snap-align: center;
}
