.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.sunToMoonButton {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animationEnter {
  animation: enterFromRight 0.75s forwards;
}

.animationExit {
  animation: exitToLeft 0.75s forwards;
}

@keyframes enterFromRight {
  from {
    transform: translateX(80px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes exitToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-80px);
  }
}