.title {
  align-self: flex-start;
}

.statementContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: row;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;

    & > div {
      margin-bottom: 20px;
    }

    & > div:last-child {
      margin-bottom: 0;
    }
  }
}
