.pillarsSection {
  background-color: var(--mantine-color-dark-6);
  padding: 50px;
  width: 100vw;

  @mixin smaller-than $mantine-breakpoint-md {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding-left: 70px;
  padding-right: 70px;

  @mixin smaller-than $mantine-breakpoint-md {
    flex-direction: column;
    gap: 30px;
  }
}

.headingContainer {
  padding-bottom: 20px;
  padding-left: 70px;

  @mixin smaller-than $mantine-breakpoint-md {
    padding-left: 0;
  }
}

.cards {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  min-height: 224px;
  height: auto;
  justify-content: center;

  @mixin smaller-than $mantine-breakpoint-md {
    width: 356px;
    height: 300px;
    align-self: center;
  }
}

.textContainer {
  padding: 0 30px;
}
