.involvedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(128px) 0;
  gap: rem(48px);
}

.sectionHeader {
  align-self: stretch;
  color: var(--mantine-color-white, #fff);
  text-align: center;
  font-size: rem(48px);
  font-weight: 700;
  line-height: 130%;

  @media (max-width: rem(996px)) {
    font-size: rem(22px);
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(40px);
  width: 100%;

  @media (max-width: rem(996px)) {
    flex-direction: column;
  }
}
