.skeletonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.importantSectionTitle {
  font-size: rem(48px);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 48px;
}

.homeContainer {
  max-width: rem(1200px);
}

.aboutInit {
  display: flex;
  align-content: stretch;
  padding: rem(0) rem(48px);
}

.hero {
  display: flex;
  align-items: flex-end;
  height: rem(700px);
}

.hero_title {
  float: left;
  display: inline-block;
  text-shadow: 1px 1px 6px white;
  color: white;
  font-size: 4vw;
  padding-left: 5vw;
  padding-bottom: rem(50px);
}

.hero_image {
  width: 750px;
  height: auto;
  float: right;
}

.title_teal {
  color: var(--mantine-color-patina-green-light);
}
