.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.importantSectionTitle {
  font-size: rem(48px);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 48px;
  color: white;

  @media (max-width: rem(996px)) {
    justify-content: center;
    align-items: center;
    font-size: rem(22px);
  }
}

.homeContainer {
  max-width: rem(1200px);
  padding: 0;
}

.aboutInit {
  display: flex;
  align-content: stretch;
  padding: rem(0) rem(48px);

  @media (max-width: rem(996px)) {
    flex-direction: column;
  }
}

.hero {
  display: flex;
  align-items: flex-end;
  height: rem(600px);
  width: rem(95%);
  padding-bottom: rem(75px);
}

.hero_title {
  float: left;
  display: inline-block;
  text-shadow: rem(1px) rem(2px) rem(6px) #989898;
  color: white;
  font-size: rem(60px);
  padding-left: 5vw;

  @media (max-width: rem(996px)) {
    font-size: rem(45px);
  }
}

.title_teal {
  color: var(--mantine-color-patina-green-light);
