.container{
  display: flex;
  padding: rem(64px) rem(48px);
  flex-direction: column;
  border: rem(1px) solid var(--mantine-color-dark-4);
  background: var(--mantine-color-dark-6);
}

.title{
  color: white;
  font-weight: bold;
  font-size: x-large;
}
