.card {
  display: flex;
  padding: rem(32px) rem(16px);
  flex-direction: column;
  align-items: center;
  max-width: rem(400px);
  text-align: center;
  gap: rem(16px);
  border-radius: rem(16px);
  border: rem(1px) solid var(--mantine-color-patina-dark-3, #5c5f66);
  background: var(--mantine-color-patina-dark-6, #25262b);
  box-shadow:
    0 rem(1px) rem(2px) 0px rgba(0, 0, 0, 0.1),
    0 rem(1px) rem(3px) 0px rgba(0, 0, 0, 0.05);

  @media (max-width: rem(996px)) {
    width: rem(264px);
    display: block;
  }


.centering {
  flex: 1 0 0;

  @media (max-width: rem(996px)) {
    flex: 1;
  }
}

.Card h3 {
  margin-bottom: rem(10px);
  color: var(--mantine-color-white, #fff);
}

.cardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  margin-bottom: rem(10px);
  width: rem(100px);
  height: rem(100px);
}

.cardText {
  margin-top: rem(0px);
  margin-bottom: rem(10px);
  color: var(--mantine-color-white, #fff);
}

.cardButton {
  display: flex;
  padding: rem(10px) rem(3px);
  justify-content: center;
  align-items: center;
  gap: rem(10px);
  align-self: stretch;
  border: 1px solid var(--mantine-color-white, #fff);
  background: var(--mantine-color-patina-dark-4, #373a40);
  color: var(--mantine-color-white, #fff);
}
