.about {
  display: flex;
  max-width: 447px;

  @media (max-width: 1300px) {
    max-width: 1000px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 20px;
}

.title {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.body {
  font-size: 18px;
  font-weight: 400;
}
