.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: rem(110px);
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
}
