.latestPostsSection {
  width: 100%;
  margin: 24px;
}

.allPostsSection {
  width: 100%;
  margin: 24px;
}

.titleContainer {
  font-size: 64px;
  font-weight: bold;
  padding-bottom: 16px;
}

.subtitleContainer {
  font-size: 34px;
  font-weight: bold;
}

.subtitleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.latestPostsCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;

  @mixin smaller-than $mantine-breakpoint-md {
    flex-direction: column;
    gap: 48px;
  }
}

.allPostsCards {
  display: flex;
  flex-direction: column;
  margin: 12px;
  gap: 24px;
}
