.blogSplash {
  max-height: 300px;
}

.editorRoot {
  border: none;
}

.blogSection {
  flex-direction: column;
  display: flex;
}

.titleText {
  font-weight: bold;
  font-size: 48px;
}

.pillsSection {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
  padding-bottom: 4px;
}

.pill {
  background-color: var(--mantine-color-dark-5);
  font-size: 16px;
  border-radius: 4px;
}

.morePostsTitle {
  font-size: 34px;
  font-weight: bold;
}

.morePostsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.morePostsPosts {
  display: flex;
  justify-content: space-between;
  margin: 24px;
  gap: 12px;
}
