.title {
  font-weight: bold;
  font-size: 24px;
}

.eventCard {
  background-color: var(--mantine-color-dark-8);
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 24px;
}

.dayHighlight {
  color: var(--mantine-color-patina-green-light);
  font-size: 24px;
}

.dayDim {
  color: var(--mantine-color-gray-6);
}
