.calendarCell {
  padding: 12px;
}

.calendarHeader {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
}

.calendarHeaderText {
  margin-left: 50px;
  margin-right: 50px;
}

.calendarBody {
  margin: auto;
}

.calendarCellHighlight {
  color: var(--mantine-color-patina-green-light);
}
