.criteriaContainer {
  display: flex;
  justify-content: center;
}

.criteria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #25262b;
  padding: 75px 50px;
  background-image: radial-gradient(#196149 0%, #25262b 75%);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100%;

  @media (max-width: 750px) {
    flex-direction: column;
    background-image: radial-gradient(#196149 0%, #25262b 70%);
    background-size: 500px 400px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.selection {
  width: 550px;

  @mixin smaller-than $mantine-breakpoint-md {
    width: auto;
  }
}

.selectionTitle {
  color: white;
  font-size: 22px;
}

.checklist {
  padding-top: 45px;
  font-size: 18px;
  color: white;
}

.quote {
  width: 50%;
  display: flex;
  align-items: center;
  height: auto;
  padding-left: 3%;
  /* colors needed to make gradient, non-standard Patina colors */
  @mixin smaller-than $mantine-breakpoint-md {
    width: auto;
  }
}

.quoteText {
  align-items: center;
  text-align: left;
  font-size: 35px;
  color: white;
  padding: 45px;

  @mixin smaller-than $mantine-breakpoint-md {
    font-size: 30px;
    text-align: center;
    margin-top: 45px;
    padding: 15px;
  }

  @mixin smaller-than $mantine-breakpoint-sm {
    font-size: 26px;
    text-align: center;
    margin-top: 45px;
    padding: 15px;
  }
}
